@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f76e4f;
  --green: #7ce27c;
  --yellow: #ffcc4c;

  --dark-900: #16151a;
  --dark-800: #222224;
  --dark-700: #323234;
}

body {
  background-color: var(--dark-800);
}
input:focus {
  outline: none;
  box-shadow: none;
}

.bg-dark-900 {
  background-color: var(--dark-900);
}
.bg-dark-800 {
  background-color: var(--dark-800);
}
.bg-dark-700 {
  background-color: var(--dark-700);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-green {
  background-color: var(--green);
}
.bg-yellow {
  background-color: var(--yellow);
}

.text-primary {
  color: var(--primary);
}
.text-green {
  color: var(--green);
}
.text-yellow {
  color: var(--yellow);
}
.text-dark-800 {
  color: var(--dark-800);
}
